In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("dating-binned.csv")

In [9]:
test_data = data.sample(frac = 0.2, random_state=47)
training_data = data.drop(test_data.index)

In [11]:
test_data.head()

,gender,age,age_o,race,race_o,samerace,importance_same_race,importance_same_religion,field,pref_o_attractive,...,theater,movies,concerts,music,shopping,yoga,interests_correlate,expected_happy_with_sd_people,like,decision
529,0,"(17.999, 26.0]","(17.999, 26.0]",3,2,0,"(-0.001, 2.0]","(-0.001, 2.0]",121,"(0.2, 0.4]",...,"(-0.001, 2.0]","(8.0, 10.0]","(6.0, 8.0]","(8.0, 10.0]","(8.0, 10.0]","(-0.001, 2.0]","(0.2, 0.6]","(4.0, 6.0]","(6.0, 8.0]",1
4218,0,"(26.0, 34.0]","(26.0, 34.0]",2,2,1,"(8.0, 10.0]","(4.0, 6.0]",7,"(0.2, 0.4]",...,"(8.0, 10.0]","(8.0, 10.0]","(8.0, 10.0]","(8.0, 10.0]","(4.0, 6.0]","(6.0, 8.0]","(-0.6, -0.2]","(4.0, 6.0]","(4.0, 6.0]",0
3474,1,"(26.0, 34.0]","(26.0, 34.0]",0,2,0,"(-0.001, 2.0]","(-0.001, 2.0]",69,"(0.2, 0.4]",...,"(4.0, 6.0]","(2.0, 4.0]","(2.0, 4.0]","(6.0, 8.0]","(-0.001, 2.0]","(6.0, 8.0]","(-0.2, 0.2]","(4.0, 6.0]","(8.0, 10.0]",1
185,0,"(17.999, 26.0]","(26.0, 34.0]",2,2,1,"(2.0, 4.0]","(4.0, 6.0]",192,"(0.2, 0.4]",...,"(4.0, 6.0]","(6.0, 8.0]","(4.0, 6.0]","(6.0, 8.0]","(8.0, 10.0]","(4.0, 6.0]","(-0.2, 0.2]","(6.0, 8.0]","(4.0, 6.0]",1
3889,1,"(26.0, 34.0]","(26.0, 34.0]",2,0,0,"(-0.001, 2.0]","(2.0, 4.0]",23,"(-0.001, 0.2]",...,"(-0.001, 2.0]","(6.0, 8.0]","(6.0, 8.0]","(8.0, 10.0]","(4.0, 6.0]","(-0.001, 2.0]","(0.2, 0.6]","(4.0, 6.0]","(6.0, 8.0]",0